<h1 class="title">The Word Worm</h1>
<div class="content">

<h1>Update <%= @word.word() %></h1>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="new_word">Change Word</label>
  <input class="form-control" name="new_word" type="text" required>

  <button class="buttons" id="topButtonMargin" type="submit">Update</button>
</form>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button class="buttons" type="submit">Delete Word</button>
</form>
<p><a href="/words">Return to Word list</a></p>
</div>
