<h1>Word definer</h1>

<h3>Word list</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |album| %>
      <li><a href="/words/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/words/new">Add a word!</a>

<form action="/words/search" method="post">
  <div class="form-group">
    <label for="type">Search by:</label>
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
